@import "normalize.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes star {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2) rotate(-30deg);
	}

	75% {
		transform: scale(1.2) rotate(30deg);
	}

	100% {
		transform: scale(1);
	}
}

html {
	box-sizing: border-box;
	/* stylelint-disable-next-line declaration-no-important */
	scrollbar-gutter: initial !important;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	overflow: hidden;
	height: 100vh;
	min-width: 320px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.container {
	margin: 0 auto;
	padding: 0 70px;
	width: 100%;
	max-width: 1600px;
}

.audio-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
}

.audio-slider::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
}

.video-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
}

.video-slider::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
}

.volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
}

.volume-slider::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
}

.header__name {
	font-family: "Figtree", sans-serif;
}
